@using HealthShark.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-12">
        <h2 class="text-primary">Customers</h2>
    </div>

</div>


<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Customer</th>
                <th>Plan</th>

                @if (User.IsInRole(SD.Role_Trainer))
                {
                    <th>Dietician</th>
                    <th>Diet</th>
                }

                @if (User.IsInRole(SD.Role_Dietician))
                {
                    <th>Trainer</th>
                    <th>Workout</th>
                    <th>BodyType</th>
                }

                <th></th>
            </tr>
        </thead>

    </table>
</div>



@section Scripts
{
    @if (User.IsInRole(SD.Role_Trainer))
    {
        <script src="~/js/employeeAssignment_trainer.js"></script>
    }
    @if (User.IsInRole(SD.Role_Dietician))
    {
        <script src="~/js/employeeAssignment_dietician.js"></script>
    }
}


